h1 add new message
form(action="new" method="POST" )
  label(for="userName") user name
  br
  input(type="text" name="userName" id="userName")
  br
  label(for="text") message
  br
  textarea(id= "text" name="message")
  br
  button(type="submit") submit message
